@import "tailwindcss";


@theme {
  --background: #fdfdfc;
  --foreground: #141414;
  --color-background: #fdfdfc;
  --color-foreground: #141414;
  --color-primary: #6C9A8B;
  --color-secondary: #E8998D;
  --color-accent: #EED2CC;
  --color-button: #d3531a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

:root {
  --background: #fdfdfc;
  --foreground: #141414;
  --color-background: #fdfdfc;
  --color-foreground: #141414;
  --color-primary: #6C9A8B;
  --color-secondary: #32726d;
  --color-accent: #e9d7d3;
  --color-button: #864d34;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

body {
  background: var(--background);
  color: var(--foreground);
  cursor: url('/arrowhead-rounded-outline.svg'), auto;
}


/* Fonts */

@font-face {
  font-family: 'Ballmer';
  src: url('/fonts/Ballmer.otf') format('opentype'),
       url('/fonts/Ballmer.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('/fonts/Vollkorn/Vollkorn-italic-VariableFont_wght.ttf') format('truetype'),
       url('/fonts/Vollkorn/VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf') format('truetype'),
       url('/fonts/Source_Code_Pro/SourceCodePro-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-Italic-VariableFont_wdth,wght.tff') format('truetype');
  src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-VariableFont_wdth,wght.tff') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('/fonts/Karla/Karla-VariableFont_wght.ttf') format('truetype');
  src: url('/fonts/Karla/Karla-Karla-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora/Lora-VariableFont_wght.ttf') format('truetype'),
       url('/fonts/Lora/Lora-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


.home-title {
  font-family: 'Ballmer', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}

body {
  font-family: 'Karla', Helvetica , sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  letter-spacing: -0.35px;
}

section h2 {
  font-style: italic;
}

#services p {
  font-family: 'Vollkorn', sans-serif;
  font-style: italic;
}
/* Animations */

@keyframes popUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pop-up {
  animation: popUp 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 5s linear forwards;
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(100%) scaleY(0.9);
  }
  60% {
    opacity: 1;
    transform: translateX(-1%) scaleY(1.1);
  }
  80% {
    transform: translateX(0%) scaleY(0.95);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scaleY(1);
  }
}

@keyframes bounce-normal {
  0%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-8px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-4px);
  }
  80% {
    transform: translateY(0);
  }
}

.bounce-in-right {
  animation:
    bounce-in-right 10s ease-in-out 0s 1 both,
    bounce-normal 3s 10s infinite;
}

/* Mobile scrollbar hidden */
@media (max-width: 640px) {
  body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  ::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

/* Scrollbar Styles */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--foreground);
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 14px;
  border: 3px solid white;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--background);
}

/* Parallax Container Fix */
.parallax-container div {
  background-size: cover !important;
  top: 0px;
  background-position: center !important;
  transform: translateY(0px);
  width: 100%;
}